@import '@common/scss/custom-variables';

.searchresult-select {
  float: right;
  text-align: right;
}
// .searchresult {
//   border: 1px solid #eee;
//   padding: 15px;
// }

.searchresult-title {
  h4 {
    text-transform: capitalize;
    font-size: 1.3rem;
  }
}

.searchresult-head {
  padding: 0;
}
.searchresult-select select {
  height: 30px;
  padding: 0 30px 0 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  &:after {
    background-color: red;
  }
  @media(max-width:480px){
    width: 100%;
  }
}

.searchresult-grid {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 20px;
  &:hover {
    box-shadow: 0 9px 20px 0 rgba(165, 165, 165, 0.5);
  }
}

.searchresult-searchvtwo {
  padding: 20px;
}

.searchresult-doclocation {
  padding: 10px;
  // padding: 26px 0 26px 30px;
  border-left: 1px solid #eee;
  span {
    display: block;
    color: #767676;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;

    span {
      font-size: 12px;
      min-width: 20px;
      vertical-align: top;
      line-height: inherit;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.dc-btnarea {
  margin-top: 18px;
  float: left;
  .dc-btn {
    min-width: 160px;
    padding: 0 10px;
    height: 36px;
    line-height: 34px;
    position: relative;
    text-align: center;
    border: 2px solid #3fabf3;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    &:hover {
      color: #fff;
      background-color: #3fabf3;
      border-color: #3fabf3;
      -webkit-box-shadow: 0 9px 20px 0 #3fabf3;
      box-shadow: 0 9px 20px 0 #3fabea80;
    }
  }
  .dc-like {
    padding: 10px;
    margin-left: 7px;
    position: static;
    right: 10px;
    top: -24px;
    background: #fff;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eee;
    span {
      text-align: center;
      border-radius: 100%;
      border: 1px solid #eee;
      &:active {
        fill: red;
      }
    }
  }
}
.dc-docstatus {
  color: #3fabf3;
}
.dc-title h3 {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: $font2;
}

.dc-docinfo {
  float: left;
  text-indent: 10px;
  width: 100%;
  list-style: none;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.sigle_tags {
  li {
    margin: 5px 5px;
     color: #000;
      background-color: #fff;
      padding: 3px 5px;
      font-size: 12px;
      border-radius: 3px;
      font-weight:500;
      border:1px solid #eee;

    &:first-child {
      font-weight: bolder;
      color: #2957a4;
    }
   
    // a {
    //   text-transform: capitalize;
    // }
  }
}
.diachi,.lich{
  margin-bottom:5px;
  span[class*='icon_']{
    margin-right:7px;
    width:15px;
    height:15px;
  }
}

.pagination {
  text-align: center;
  padding: 0px;
}
.shareprofile {
  ul {
    float: none;
    width: auto;
    line-height: 20px;
    text-align: right;
    border: 1px solid #eee;
    border-top: 0px;
    font-size: 16px;
    padding: 10px 20px;
  }
  li {
    float: none;
    width: auto;
    padding: 0 7px;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
  }
  .dc-sharecontent {
    color: #3d4461;
  }
  .dc-facebook {
    fill: blue;
  }
  .dc-google {
    fill: red;
  }
}
