@import '@common/scss/custom-variables';
.downloadApp {
  background: url('/images/tai-ung-dung-medpro.png') 0% 0% / cover no-repeat;
  height: 520px;
  @media(max-width:480px){
      background-position:40% 0;
      height: 350px;
  }
  .content {
    text-align: center;
    @media(max-width:480px){
        background-color: rgba(255, 255, 255, 0.3);
    }
    .appicons {
      justify-content: center;
      display: flex;
      list-style: none;
      li {
        width: auto;
        float: left;
        border-radius: 5px;
        list-style-type: none;
        margin-right: 10px;
      }
    }
  }
}
.title_downapp{
    font-family: $font2;
    font-weight: 700;
     font-size:2rem;
  @media(max-width:480px){
      margin-top:15px;
    font-size:1.3rem;
  }
}
.dc-appbgimg {
    float: left;
    width: 100%;
    padding: 50px 0;
}
.dc-appcontent {
    float: left;
    width: 100%;
}
.dc-sectionhead {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.dc-sectionheadvtwo {
    margin: 0;
}
.dc-sectiontitle {
    float: left;
    width: 100%;
}
.dc-sectiontitle h2 {
    float: left;
    width: 100%;
    margin: 0 0 17px;
    font-size: 36px;
    line-height: 34px;
}
.dc-sectionheadvtwo .dc-sectiontitle h2 span {
    margin-top: 5px;
    font-size: 40px;
    margin-bottom: 0;
    line-height: inherit;
}
.dc-description {
    width: 100%;
    float: left;
}
.dc-appicons {
    float: left;
    width: 100%;
    list-style: none;
}
.dc-appcontent .dc-sectionhead .dc-description p {
    margin-bottom: 23px;
}

.dc-appicons li {
    width: auto;
    float: left;
    border-radius: 5px;
    list-style-type: none;
    margin-right:10px;
}
