@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=vietnamese);
.img-fluid,
.video-fluid {
  max-width: 100%;
  height: auto; }

.collapsible-body {
  display: none; }

.view {
  position: relative;
  overflow: hidden;
  cursor: default; }
  .view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed; }
  .view img,
  .view video {
    position: relative;
    display: block; }
  .view video.video-intro {
    top: 50%;
    left: 50%;
    z-index: -100;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transition: 1s opacity;
    transform: translateX(-50%) translateY(-50%); }

.overlay .mask {
  opacity: 0;
  transition: all 0.4s ease-in-out; }
  .overlay .mask:hover {
    opacity: 1; }

.zoom img,
.zoom video {
  transition: all 0.2s linear; }

.zoom:hover img,
.zoom:hover video {
  transform: scale(1.1); }

.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .waves-effect .waves-ripple {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0); }
  .waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }
  .waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2); }
  .waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  z-index: 1;
  font-size: 1em;
  line-height: 1em;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none; }

.waves-button {
  padding: .85em 1.1em;
  border-radius: .2em; }

.waves-button-input {
  padding: .85em 1.1em;
  margin: 0; }

.waves-input-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: .2em; }
  .waves-input-wrapper.waves-button {
    padding: 0; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

a.waves-effect, a.waves-light {
  display: inline-block; }

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  width: 20px;
  height: 20px; }

.carousel .carousel-control-prev-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjM2IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMTUuNDEgMTYuMDlsLTQuNTgtNC41OSA0LjU4LTQuNTlMMTQgNS41bC02IDYgNiA2eiIvPg0KICAgIDxwYXRoIGQ9Ik0wLS41aDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQo8L3N2Zz4=); }

.carousel .carousel-control-next-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjM2IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz4NCiAgICA8cGF0aCBkPSJNMC0uMjVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4NCjwvc3ZnPg==); }

.carousel .carousel-indicators li {
  width: 0.625rem;
  height: 0.625rem;
  cursor: pointer;
  border-radius: 50%; }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1; }

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0; }

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-prev.active {
  transform: translateX(0); }
  @supports (transform-style: preserve-3d) {
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-prev.active {
      transform: translate3d(0, 0, 0); } }

.btn.btn-flat {
  font-weight: 500;
  color: inherit;
  background-color: transparent;
  box-shadow: none; }
  .btn.btn-flat:not([disabled]):not(.disabled):active {
    box-shadow: none; }

.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px; }
  .btn-floating i {
    font-size: 1.25rem;
    line-height: 47px; }
  .btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center; }
  .btn-floating:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .btn-floating:before {
    border-radius: 0; }
  .btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px; }
    .btn-floating.btn-sm i {
      font-size: 0.96154rem;
      line-height: 36.15385px; }
  .btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px; }
    .btn-floating.btn-lg i {
      font-size: 1.625rem;
      line-height: 61.1px; }

.fixed-action-btn {
  position: fixed;
  right: 35px;
  bottom: 35px;
  z-index: 998;
  padding-top: 15px;
  margin-bottom: 0; }
  .fixed-action-btn ul {
    position: absolute;
    right: 0;
    bottom: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 64px;
    padding: 0;
    margin: 0 0 15px;
    text-align: center;
    transition: 400ms height; }
    .fixed-action-btn ul li {
      z-index: 0;
      display: flex;
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto; }
    .fixed-action-btn ul a.btn-floating {
      opacity: 0;
      transition-duration: .4s;
      transform: scale(0.4) translate(0); }
      .fixed-action-btn ul a.btn-floating.shown {
        opacity: 1;
        transform: scale(1) translate(0); }
  .fixed-action-btn.active ul {
    height: 300px; }

button, html [type="button"], [type="reset"], [type="submit"] {
  appearance: none; }

.btn-rounded {
  border-radius: 10em; }

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 15rem;
  height: 100%;
  padding: 0;
  padding-bottom: 3.75rem;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #2c2f34;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translateX(-100%);
  backface-visibility: hidden;
  will-change: transform; }
  .side-nav.wide {
    width: 15rem;
    transition-timing-function: linear, linear, ease;
    transition-duration: .2s, .2s, .35s;
    transition-property: top, bottom, width; }
    .side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper {
      height: 5rem;
      padding: 19px 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.65); }
      .side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper a {
        line-height: 2.6rem;
        color: #fff; }
        .side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper a span {
          padding-left: .7rem;
          margin-top: -1rem; }
        .side-nav.wide .logo-wrapper.sn-ad-avatar-wrapper a img {
          max-width: 2.5rem;
          padding: 0; }
    .side-nav.wide .collapsible a {
      padding-left: 23px;
      transition: all .3s ease-in-out; }
      .side-nav.wide .collapsible a .sv-normal {
        opacity: 1;
        transition: all .1s linear; }
      .side-nav.wide .collapsible a .sv-slim {
        display: none;
        opacity: 0;
        transition: all .1s linear; }
    .side-nav.wide .collapsible .sv-slim-icon {
      width: 30px;
      height: 36px;
      padding-left: 0;
      margin-right: 0;
      text-align: left; }
    .side-nav.wide .collapsible-body a {
      padding-left: 47px; }
    .side-nav.wide .fa-angle-down.rotate-icon {
      display: block;
      opacity: 1; }
    .side-nav.wide.slim {
      right: 3.75rem;
      width: 3.75rem;
      transition-timing-function: linear, linear, ease;
      transition-duration: .2s, .2s, .35s;
      transition-property: top, bottom, width; }
      .side-nav.wide.slim .collapsible a {
        padding-left: 23px;
        transition: all .3s ease-in-out; }
        .side-nav.wide.slim .collapsible a .sv-normal {
          opacity: 0;
          transition: all .1s linear; }
        .side-nav.wide.slim .collapsible a .sv-slim {
          display: block;
          opacity: 1;
          transition: all .1s linear; }
      .side-nav.wide.slim .collapsible .sv-slim-icon {
        width: 30px;
        height: 36px;
        padding-left: 0;
        margin-right: 0;
        text-align: left; }
      .side-nav.wide.slim .fa-angle-down.rotate-icon {
        display: none;
        opacity: 0; }
  .side-nav > ul {
    max-height: 100vh; }
  .side-nav ul {
    padding-left: 0;
    list-style: none;
    list-style-type: none; }
    .side-nav ul li {
      padding: 0; }
  .side-nav.right-aligned {
    right: 0;
    left: auto;
    transform: translateX(100%); }
  .side-nav.side-nav-light {
    background-color: #e5e5e5; }
    .side-nav.side-nav-light .logo-wrapper {
      border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
      .side-nav.side-nav-light .logo-wrapper.sn-ad-avatar-wrapper {
        color: #555; }
    .side-nav.side-nav-light .about {
      border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
      .side-nav.side-nav-light .about p {
        color: #555; }
    .side-nav.side-nav-light .social {
      border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
      .side-nav.side-nav-light .social .fas,
      .side-nav.side-nav-light .social .fab,
      .side-nav.side-nav-light .social .far {
        color: #555; }
    .side-nav.side-nav-light .search-form input[type="text"] {
      color: #555 !important;
      border-bottom-color: rgba(153, 153, 153, 0.3); }
      .side-nav.side-nav-light .search-form input[type="text"]::placeholder {
        color: #555 !important; }
    .side-nav.side-nav-light .collapsible a {
      color: #555; }
    .side-nav.side-nav-light .collapsible-body a {
      background-color: rgba(0, 0, 0, 0.1); }
    .side-nav.side-nav-light .collapsible li .collapsible-header:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .side-nav.side-nav-light .collapsible li .collapsible-header.active {
      color: #00c2ff;
      background-color: transparent; }
  .side-nav.fixed {
    position: fixed;
    left: 0;
    transform: translateX(0); }
    .side-nav.fixed.right-aligned {
      right: 0;
      left: auto; }
  @media only screen and (max-width: 1440px) {
    .side-nav.fixed {
      transform: translateX(-105%); }
      .side-nav.fixed.right-aligned {
        transform: translateX(105%); } }
  .side-nav .collapsible {
    padding: 0;
    margin: 0;
    margin-top: 1rem; }
    .side-nav .collapsible li a:hover {
      background-color: rgba(0, 0, 0, 0.15); }
    .side-nav .collapsible > li {
      border-radius: 2px; }
      .side-nav .collapsible > li a.collapsible-header:hover {
        background-color: rgba(255, 255, 255, 0.15); }
      .side-nav .collapsible > li a.collapsible-header.active {
        background-color: rgba(255, 255, 255, 0.15); }
    .side-nav .collapsible ul {
      padding: 0;
      list-style-type: none; }
    .side-nav .collapsible a {
      height: 36px;
      font-size: 0.8rem;
      font-weight: 300;
      line-height: 36px;
      color: #fff; }
      .side-nav .collapsible a.active, .side-nav .collapsible a:hover {
        border-radius: 2px; }
    .side-nav .collapsible .fas,
    .side-nav .collapsible .fab,
    .side-nav .collapsible .far {
      margin-right: 13px;
      font-size: 0.8rem; }
  .side-nav .collapsible-body a {
    height: 36px;
    padding-left: 47px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, 0.15); }
  .side-nav a {
    display: block;
    height: 56px;
    padding-left: 20px;
    font-size: 1rem;
    line-height: 56px; }
  .side-nav .fa-angle-down.rotate-icon {
    position: absolute;
    top: 0.8rem;
    right: 0;
    margin-right: 1.25rem; }
  .side-nav .sidenav-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 15rem;
    background-attachment: fixed; }
    .side-nav .sidenav-bg:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      padding-bottom: 99999px;
      margin-bottom: -99999px;
      content: ""; }
  .side-nav .logo-wrapper {
    height: 8.75rem;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
    .side-nav .logo-wrapper a {
      width: 15rem;
      height: 8.75rem;
      padding: 0; }
    .side-nav .logo-wrapper img {
      height: auto;
      padding-top: 20%;
      padding-right: 50px;
      padding-bottom: 20%;
      padding-left: 50px; }
    @media (max-height: 992px) {
      .side-nav .logo-wrapper {
        height: 60px; }
        .side-nav .logo-wrapper a {
          height: 60px; }
        .side-nav .logo-wrapper img {
          padding-top: 7%;
          padding-bottom: 7%; } }
    .side-nav .logo-wrapper.sn-avatar-wrapper {
      padding-top: 10%;
      padding-right: 33%;
      padding-bottom: 10%;
      padding-left: 33%; }
      .side-nav .logo-wrapper.sn-avatar-wrapper img {
        max-width: 90px;
        padding: 0;
        margin: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      @media only screen and (max-height: 992px) {
        .side-nav .logo-wrapper.sn-avatar-wrapper {
          padding-right: 40%;
          padding-left: 40%; }
          .side-nav .logo-wrapper.sn-avatar-wrapper img {
            max-width: 50px; } }
    .side-nav .logo-wrapper.sn-ad-avatar-wrapper {
      height: auto;
      margin-bottom: 0; }
      .side-nav .logo-wrapper.sn-ad-avatar-wrapper img {
        float: left;
        max-width: 3.75rem;
        padding: 1.25rem 0.63rem; }
      .side-nav .logo-wrapper.sn-ad-avatar-wrapper p {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        margin: 0;
        font-size: 0.94rem; }
  .side-nav .about {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65); }
    .side-nav .about p {
      margin-bottom: 0;
      text-align: center; }
  .side-nav .social {
    padding-top: 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65); }
    .side-nav .social li {
      display: inline-block;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      margin: 0; }
    .side-nav .social a {
      padding: 0;
      margin: 0; }
    .side-nav .social .fas,
    .side-nav .social .fab,
    .side-nav .social .far {
      padding-right: 0.6rem;
      padding-left: 0.6rem;
      font-size: 0.9rem;
      color: #dbe4e7;
      transition: 0.3s; }
      .side-nav .social .fas:hover,
      .side-nav .social .fab:hover,
      .side-nav .social .far:hover {
        color: #afc4cb;
        transition: 0.3s; }
  .side-nav .search-form {
    padding: 0; }
    .side-nav .search-form input[type="text"] {
      padding-left: 1.88rem;
      font-weight: 300;
      border-bottom: 1px solid rgba(255, 255, 255, 0.65); }
      .side-nav .search-form input[type="text"]::placeholder {
        color: #fff; }
    .side-nav .search-form .form-control {
      margin-bottom: 0; }

.drag-target {
  position: fixed;
  top: 0;
  z-index: 998;
  width: 10px;
  height: 100%; }

#sidenav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 997;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  will-change: opacity; }

.transform-fix-input {
  transform: translateX(0) !important; }

.carousel-multi-item {
  margin-bottom: 5rem; }
  .carousel-multi-item .carousel-inner .carousel-item.active,
  .carousel-multi-item .carousel-item-next,
  .carousel-multi-item .carousel-item-prev {
    display: block; }
  .carousel-multi-item .carousel-inner.v-2 .carousel-item.active,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-next,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    display: flex; }
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-right.active,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-next {
    transform: translateX(33%); }
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-left.active,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-33%); }
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-right,
  .carousel-multi-item .carousel-inner.v-2 .carousel-item-left {
    transform: translateX(0); }
  .carousel-multi-item .carousel-indicators li {
    width: 1.25rem;
    max-width: 1.25rem;
    height: 1.25rem;
    margin-bottom: -3.75rem;
    background-color: #00c2ff; }
  .carousel-multi-item .carousel-indicators .active {
    width: 1.56rem;
    max-width: 1.56rem;
    height: 1.56rem;
    background-color: #00c2ff;
    border-radius: 50%; }
  .carousel-multi-item .controls-top {
    margin-bottom: 1.88rem;
    text-align: center; }
    .carousel-multi-item .controls-top .btn-floating {
      background: #00c2ff; }
  .carousel-multi-item .carousel-indicators {
    margin-bottom: -2em; }
  .carousel-multi-item .card-cascade.narrower {
    margin-top: 1.25rem;
    margin-bottom: 0.3rem; }
  @media (min-width: 768px) {
    .carousel-multi-item .col-md-4 {
      float: left;
      width: 33.333333%;
      max-width: 100%; } }

@media only screen and (max-width: 992px) {
  .carousel-multi-item .carousel-indicators li {
    margin-bottom: -1.88rem; } }

.carousel-thumbnails .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-right: initial;
  margin-left: initial;
  overflow-x: auto;
  white-space: nowrap; }
  .carousel-thumbnails .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial; }
    .carousel-thumbnails .carousel-indicators > li .active img {
      opacity: 1; }

.wrapper-carousel-fix .carousel-fade .active.carousel-item-left, .wrapper-carousel-fix .carousel-fade .active.carousel-item-right {
  transition: transform .6s ease;
  transition-property: opacity; }

.collapsible .active .rotate-icon {
  transition: all 150ms ease-in 0s;
  transform: rotate(180deg); }

.md-progress {
  position: relative;
  display: block;
  width: 100%;
  height: 0.25rem;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #eee;
  box-shadow: none; }
  .md-progress .progress-bar {
    height: 0.25rem;
    background-color: #0d47a1;
    border-radius: 0;
    box-shadow: none; }
  .md-progress .progress-bar-animated {
    transition: width 2s ease-in-out; }
  .md-progress .indeterminate {
    background-color: #90caf9; }
    .md-progress .indeterminate:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: inherit;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      will-change: left, right; }
    .md-progress .indeterminate:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: inherit;
      animation: indeterminate 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
      will-change: left, right; }

@keyframes indeterminate {
  0% {
    right: 100%;
    left: -35%; }
  60% {
    right: -90%;
    left: 100%; }
  100% {
    right: -90%;
    left: 100%; } }

@keyframes indeterminate-short {
  0% {
    right: 100%;
    left: -200%; }
  60% {
    right: -8%;
    left: 107%; }
  100% {
    right: -8%;
    left: 107%; } }

.preloader-wrapper {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 0; }
  .preloader-wrapper.small {
    width: 2.25rem;
    height: 2.25rem; }
  .preloader-wrapper.big {
    width: 4rem;
    height: 4rem; }
  .preloader-wrapper.active {
    animation: container-rotate 1568ms linear infinite; }
  .preloader-wrapper.crazy {
    animation-duration: 333ms; }
  .preloader-wrapper .spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .preloader-wrapper .spinner-layer .gap-patch {
      position: absolute;
      top: 0;
      left: 45%;
      width: 10%;
      height: 100%;
      overflow: hidden;
      border-color: inherit; }
      .preloader-wrapper .spinner-layer .gap-patch .circle {
        left: -450%;
        width: 1000%; }
    .preloader-wrapper .spinner-layer .circle-clipper {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100%;
      overflow: hidden;
      border-color: inherit; }
      .preloader-wrapper .spinner-layer .circle-clipper .circle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200%;
        height: 100%;
        border-color: inherit;
        /* STROKEWIDTH */
        border-style: solid;
        border-width: 0.1875rem;
        border-bottom-color: transparent !important;
        border-radius: 50%;
        animation: none; }
      .preloader-wrapper .spinner-layer .circle-clipper.left .circle {
        left: 0;
        border-right-color: transparent !important;
        transform: rotate(129deg); }
      .preloader-wrapper .spinner-layer .circle-clipper.right .circle {
        left: -100%;
        border-left-color: transparent !important;
        transform: rotate(-129deg); }
  .preloader-wrapper .spinner-blue,
  .preloader-wrapper .spinner-blue-only {
    border-color: #00c2ff; }
  .preloader-wrapper .spinner-red,
  .preloader-wrapper .spinner-red-only {
    border-color: #db4437; }
  .preloader-wrapper .spinner-yellow,
  .preloader-wrapper .spinner-yellow-only {
    border-color: #f4b400; }
  .preloader-wrapper .spinner-green,
  .preloader-wrapper .spinner-green-only {
    border-color: #0f9d58; }

@keyframes container-rotate {
  to {
    transform: rotate(360deg); } }

.active .spinner-layer.spinner-blue {
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .spinner-layer.spinner-red {
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .spinner-layer.spinner-yellow {
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .spinner-layer.spinner-green {
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .spinner-layer.spinner-blue-only, .active .spinner-layer.spinner-red-only, .active .spinner-layer.spinner-yellow-only, .active .spinner-layer.spinner-green-only, .active .spinner-layer.spinner-primary-color-only {
  opacity: 1;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .circle-clipper.left .circle {
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.active .circle-clipper.right .circle {
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg); }
  25% {
    transform: rotate(270deg); }
  37.5% {
    transform: rotate(405deg); }
  50% {
    transform: rotate(540deg); }
  62.5% {
    transform: rotate(675deg); }
  75% {
    transform: rotate(810deg); }
  87.5% {
    transform: rotate(945deg); }
  to {
    transform: rotate(1080deg); } }

@keyframes blue-fade-in-out {
  from {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes red-fade-in-out {
  from {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }

@keyframes yellow-fade-in-out {
  from {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }

@keyframes green-fade-in-out {
  from {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes left-spin {
  from {
    transform: rotate(130deg); }
  50% {
    transform: rotate(-5deg); }
  to {
    transform: rotate(130deg); } }

@keyframes right-spin {
  from {
    transform: rotate(-130deg); }
  50% {
    transform: rotate(5deg); }
  to {
    transform: rotate(-130deg); } }

#spinnerContainer.cooldown {
  animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1); }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

#mdb-preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: #000; }

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  -ms-touch-action: auto;
  touch-action: auto;
  overflow-anchor: none;
  -ms-overflow-style: none; }

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0;
  display: none;
  height: 15px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear; }

.ps__rail-y {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  display: none;
  width: 15px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: .6; }

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: .9; }

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  height: 6px;
  background-color: #aaa;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  transition: background-color .2s linear, height .2s ease-in-out; }

.ps__thumb-y {
  /* please don't change 'position' */
  position: absolute;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  width: 6px;
  background-color: #aaa;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  transition: background-color .2s linear, width .2s ease-in-out; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  height: 11px;
  background-color: #999; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 11px;
  background-color: #999; }

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #24292e;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5; }

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #12263f; }
  a:hover {
    color: #26b4d7;
    text-decoration: none; }

.modal.fade .modal-bottom:not(.show).modal-dialog {
  transform: translate3d(0, 25%, 0); }

.modal.fade.show .modal-bottom.modal-dialog {
  transform: none !important; }

::-webkit-input-placeholder {
  /* Edge */
  font-size: 0.875rem;
  color: #627792 !important; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 0.875rem;
  color: #627792 !important; }

input::placeholder,
select {
  font-size: 0.875rem;
  color: #627792 !important; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%); }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%); }

::selection {
  background: #0352cc;
  color: #ffffff; }

ul, ul li {
  list-style: none;
  padding: 0; }

@media only screen and (max-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 100%; } }

svg {
  vertical-align: top;
  width: inherit;
  height: inherit; }

button {
  outline: none;
  box-shadow: unset;
  cursor: pointer; }
  button:focus, button:active {
    outline: none !important;
    box-shadow: unset !important; }

.link-view-all {
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  padding: 5px 50px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0;
  border-width: 0 !important;
  border-radius: 14px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.18) !important;
  position: relative;
  transition: all 0.25s ease;
  color: #000;
  background-color: #fbfcfd; }
  .link-view-all:hover {
    background-color: #ed3a68;
    color: #ffffff;
    -webkit-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
    border-bottom: 3px solid transparent !important; }
  .link-view-all.trade {
    background-color: #ff424e;
    color: #fff; }
  .link-view-all.hot {
    background-color: #ffcc00; }
  @media only screen and (max-width: 767px) {
    .link-view-all {
      background: #28b4d7 !important;
      color: #fff;
      padding: 2px 30px; } }

.modal.fade .modal-bottom:not(.show).modal-dialog {
  transform: translate3d(0, 25%, 0); }

.modal.fade.show .modal-bottom.modal-dialog {
  transform: none !important; }

.custom-modal-size {
  top: 20% !important;
  max-width: 700px !important;
  margin: 0 auto !important;
  left: 0; }
  .custom-modal-size .modal-header {
    padding: 10px; }
  .custom-modal-size .body {
    padding: 0; }
  .custom-modal-size .modal-footer button {
    min-width: 150px; }
  @media only screen and (max-width: 992px) {
    .custom-modal-size {
      top: auto !important;
      position: absolute;
      bottom: 0;
      right: 0; }
      .custom-modal-size .modal-footer {
        padding: 0;
        border: 0; }
        .custom-modal-size .modal-footer button {
          width: 100%;
          box-shadow: none; } }

.full_height {
  height: calc(100% - 60px); }
  .full_height > div {
    background-color: #ffffff;
    height: 100%; }
  .full_height .title_popup {
    border: 0;
    padding: 15px; }
    .full_height .title_popup h4 {
      color: #0352cc;
      font-size: 1.4rem !important; }
    .full_height .title_popup button {
      color: #5274a0;
      opacity: 0.6; }
  .full_height .body {
    padding-top: 0;
    max-height: 75vh;
    overflow: auto; }

.bottom {
  min-height: 0 !important;
  top: auto !important;
  display: block;
  max-width: 100%;
  bottom: 0;
  margin: 0 !important;
  position: absolute !important;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .bottom > div {
    padding: 15px 15px 0 15px; }
  .bottom .title_popup {
    border: 0;
    font-size: 0.875rem;
    padding: 0 0 10px 0; }
    .bottom .title_popup h4 {
      font-size: 1.125rem;
      color: #0352cc;
      font-weight: 500; }
    .bottom .title_popup button {
      color: #5274a0;
      opacity: 1; }
  .bottom .body {
    padding: 0 0 0 0; }
  .bottom .modal_footer {
    border-top: 3px solid #dfe3eb;
    padding: 10px 0; }
    .bottom .modal_footer button {
      min-width: 110px;
      margin: 0 0 0 10px !important; }
      .bottom .modal_footer button.cancel {
        background: #dfe3eb; }

.title-element {
  font-size: 16px;
  color: #24292e;
  position: relative;
  font-weight: 500;
  margin-bottom: 30px; }
  .title-element.title-service .bg, .title-element.title-trade-mark .bg, .title-element.title-favourite .bg, .title-element.title-why .bg, .title-element.title-present .bg, .title-element.title-create-account .bg {
    background-repeat: no-repeat;
    background-size: 100% 42px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 42px;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    height: 42px;
    overflow: hidden;
    color: #177eab; }
  .title-element.title-trade-mark .bg, .title-element.title-favourite .bg, .title-element.title-present .bg {
    color: #ffffff; }
  .title-element.line-bottom {
    padding-bottom: 8px;
    border-bottom: 2px solid #e5e5e5; }
  .title-element.text-download {
    color: #f7faff !important; }
  @media only screen and (max-width: 767px) {
    .title-element.title-element-mb {
      display: flex;
      justify-content: space-between;
      background: #28b4d7;
      align-items: center;
      padding: 0 15px;
      margin-bottom: 15px;
      margin: 0 -15px;
      color: #fff; }
      .title-element.title-element-mb .bg {
        color: inherit; }
    .title-element .view-all-mb {
      font-size: 0.875rem;
      color: #fff; }
    .title-element .bg {
      background: none !important;
      padding: 0 !important; } }
  .title-element.line-after {
    margin-bottom: 30px; }
    .title-element.line-after span {
      position: relative; }
      .title-element.line-after span:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: #e5e5e5;
        width: 100%; }

