
@import '../../organisms/BoxArticle/style.module.scss';
.title_box_category {
    margin-bottom: 10px;
    position: relative;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      font-family: "Playfair Display",serif;
      font-weight: 700;
      line-height: 21px;
      color: #24292e;
      margin: 0;
      a{
        position: relative;
        line-height: 37px;
        display: block;
        font-size: 18px;
        color: #1370b5 !important;
        &::before{
          content: "";
          width: 100%;
          height: 2px;
          background: #f88e24 !important;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }
    }
}
.box-right-article .title_box_category{
  margin-bottom: 10px;
}
.soyte .article_item .description{
  width: 100%;
  padding-left: 0;
}
.soyte .article_item__list{
  padding: 5px 0;
}
.view_all{
    text-align: center;
    margin: 10px 0;
}
/* Box bao chi - xa hoi   */
.color_orange a::before,.color_orange span::before{
  background: #f88e24 !important;
}