@import '@common/scss/custom-variables';
.auth-template {
  position: relative;
}
.main-page{
    margin: 0 0 0 0; 
    min-height:350px;
    // @media #{$medium-and-down}{
    //     margin-top:60px;
    // }
}
