@import '../../../common/scss/custom-variables';
.header_menu {
  height: 60px;
  line-height: 60px;
  background-image: linear-gradient(-243deg, #025aa7, #3793ee);
  background-size: cover;
  position: relative;
  padding: 0;
  z-index: 10;
}
.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* gnb */
.menubar {
  float: left;
  margin-bottom: 0;
  svg {
    fill: #ffffff;
  }
  li {
    float: left;
    &.hasSubmenu {
      position: relative;
      white-space: nowrap;
      .submenu {
        width: 285px;
        padding: 15px 0 15px 0;
        li {
          width: 100%;
          white-space: nowrap;
          margin: 0;
          a {
            line-height: 34px;
            min-height: auto;
            padding: 5px 10px;
          }
        }
      }
    }

    a {
      font-size: 1.063em;
      color: #ffffff;
      display: block;
      position: relative;
      padding: 0 15px;
      font-weight: 500;
      min-height: 60px;
      @media (max-width: 1200px) {
        padding: 0 9px;
      }
      @media (max-width: 1024px) {
        font-size: 1.063em;
      }
    }
  }
  > li {
    .submenu {
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      transition-delay: 0s;
    }
    &:hover {
      .submenu {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    &:hover > a,
    &:focus > a {
      color: #c1cace;
      &:before {
        left: 0;
        right: 0;
      }
    }
  }
}
.link__span {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
/* submenu styles */
.submenu {
  left: 0;
  padding-bottom: 15px;
  max-height: 0;
  position: absolute;
  top: 60px;
  z-index: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: none;
  left: 0;
  right: 0;
  background: #1f2024;
  &.megamenu {
    min-height: 150px;
    background-size: contain;
    padding: 15px 0;
    flex-direction: row !important;
    li {
      a {
        padding: 5px 0px;
        line-height: 34px;
        min-height: auto;
      }
    }
  }
  li {
    width: 23%;
    float: left;
    margin: 0 1%;
    opacity: 0;
    padding: 0 15px;
    position: relative;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    transition-delay: 0s;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    a {
      font-size: 1.063em;
      position: relative;
      line-height: 2.125rem;
      padding: 10px;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;

      transition: all 0.3s ease-in-out;
      // .icons_down {
      //   position: absolute;
      //   top: 50%;
      //   right: 0;
      //   transform: translate(0, -50%);
      //   font-size: 1.5rem;
      // }
    }
  }
  li:last-child {
    border-bottom: none;
  }
}
.menubar .submenu li:hover a {
  color: #fff;
}
.menubar > li:hover .submenu,
.menubar > li:focus .submenu {
  max-height: 2000px;
  z-index: 10;
  display: flex;
  opacity: 0.9;
  flex-direction: column;
}
.menubar > li:hover .submenu li,
.menubar > li:focus .submenu li {
  opacity: 1;
  // -webkit-transform: none;
  // transform: none;
  a {
    padding-left: 15px;
  }
}

.logo {
  width: 250px;
  svg {
    width: inherit;
    height: inherit;
  }
}
.logo-center {
  width: 125px;
}
.text-bars {
  color: #000;
}
.logomb {
  width: 130px;
  text-align: center;
  img {
    width: 90%;
    margin: 0 auto;
  }
}
