@import '@common/scss/custom-variables';
.section_new{
  position: relative;
  padding:50px 0;
}
.title_news{
  font-family: $font2;
  font-weight:700;
  font-size:2rem;
  margin-bottom:30px;
  @media(max-width:480px){
    font-size:1.3rem;
  }
  span{
    border-bottom:2px solid #1370b5;
  }
}
.grid_card {
  display: flex;
  align-items: stretch;
}

.view_more {
  a {
       border: 1px solid #f7f7f7;
    padding: 10px 30px;
    border-radius: 3px;
    background: #f7f7f7;
  }
}
