@import '@common/scss/custom-variables';
.dc-sectionbg {
  position: relative;
  padding: 80px 0;
}

.dc-bringcareholder,
.dc-bringcarecontent {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  h3{
    font-family: $font2;
  }
}
.dc-bringcarecontent .dc-btnarea {
  margin-top: 20px;
}
.dc-bringcarecontent .dc-btnarea .dc-btn {
  float: left;
}
.dc-bringcarecontent .dc-btnarea .dc-btn + .dc-btn {
  margin-left: 30px;
}
.dc-bringimg-holder {
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  @media (max-width: 480px) {
    padding: 0;
  }
}
.dc-btnarea {
  text-align: center;
  a {
    min-width: 160px;
    padding: 10px;
    position: relative;
    text-align: center;
    border: 2px solid;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    border-color: #3eabf3;
  }
}
.dc-doccareimg {
  width: auto;
  float: left;
  z-index: 9;
  height: 100%;
  margin: 0 0 0px;
  position: relative;
}
.dc-doccareimg:before {
  top: 15px;
  left: 15px;
  content: '';
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  background: #e6e6e6;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @media #{$small-and-down} {
    display: none;
  }
}
.dc-doccareimg img {
  width: 100%;
  display: block;
}
.dc-doccareimg figcaption {
  bottom: 20px;
  right: 0;
  margin-right: 10px;
  position: absolute;
}
.dc-doccareimg figcaption:after {
  width: 4px;
  content: '';
  height: 100%;
  right: -10px;
  position: absolute;
  background: #fe5851;
}
.dc-doccarecontent {
  float: left;
  width: 100%;
  padding: 30px;
  border-radius: 4px 0 0 4px;
  background: #3d4461;
}
.dc-doccarecontent h3 {
  margin: 0;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  font-family: $font2;
}
.dc-doccarecontent h3 em {
  font-size: 16px;
  font-weight: 400;
  display: block;
  font-style: normal;
  line-height: inherit;
  font-family: $font2;
}
.tag {
  margin-bottom: 5px;
  font-weight: 500;
}
.dc-sectionbg {
  position: relative;
}
.dc-sectionbg:after {
  position: absolute;
  left: 0;
  content: '';
  width: 792px;
  height: 443px;
  bottom: 0;
  background: url('/img/imgweb/download.png');
  z-index: -1;
  @media #{$small-and-down} {
    position: absolute;
    width: 100%;
  }
}
.dc-bgcolor {
  background: #e8f6ff;
}
