@import '../../../common/scss/custom-variables';
.article-detail {
  font-size: 0.9375rem;
  color: #000;
  padding: 10px 0px 15px;
  font-family: Arial;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.6;
  .list_relate {
    margin: 10px 0 15px;
    ul {
      padding-left: 17px;
      li {
        margin: 0 0 5px 0;
        list-style: square;
        a {
          font-weight: 500;
          font-size: 0.875rem;
          color: #666;
          &:hover,
          &:focus {
            color: #2957a4;
          }
        }
      }
    }
  }
  h1,
  h2,
  h3 {
    font-size: 2rem;
    font-family: $font3;
    font-weight: 500;
    color: #2957a4;
  }
  .time-news {
    margin: 0 25px 0 0;
    color: #666;
    font-weight: 500;
    font-size: 12px;
    position: relative;
  }
  figure.image {
    background: none;
    border: unset;
    margin: 15px;
  }
  figcaption {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  img {
    margin: 0;
    height: auto !important;
    max-width: 100% !important;
  }

  blockquote {
    width: 100%;
    background: #e8f4ff;
    font-size: 0.875rem;
    font-style: italic;
    color: #000;
    padding: 1.2rem 25px;
    border: 1px solid #bfe0ff;
    border-left: 6px solid #1da1f2;
    line-height: 1.6;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
  }
  .box-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding-bottom: 15px;
    margin-bottom: 20px;
    button {
      margin: 0;
      text-transform: capitalize;
      border: 1px solid #ddd;
      padding: 5px 30px;
    }
    .right {
      span[class*='icon_'] {
        margin-left: 7px;
        width: 20px;
        height: 20px;
      }
    }
  }
  @media #{$medium-and-down} {
    width: 100%;
    .news-detail {
      margin: 0;
    }
  }
}
.line-after {
  font-size: 1.1rem;
  span {
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 5px;
  }
}
