@import '/public/scss/custom-variables';
.main {
  height: calc(100vh - 120px);
  border-radius: 20px;
  color: white;
  margin-top: 6em;
  background-image: url('/images/home-bg.jpg');
  @media #{$small-and-down} {
    height: 100%;
  }
}
